.form {
  margin: 3rem 1rem;
  height: auto;
  overflow: auto;
}

.control {
  margin-bottom: 1rem;
}

.control label {
  margin-bottom: 0.25rem;
  display: block;
  font-size: large;
}

.control input {
  font: inherit;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 90%;
  max-width: 100%;
  font-size: large;
}

.control textarea {
  font: inherit;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 90%;
  max-width: 100%;
  font-size: large;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.actions {
  margin-top: 5rem;
  font-size: x-large;
}

/* .actions button {
  font: inherit;
  color: #5a1a01;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 25px;
  padding: 0.5rem 2rem;
  margin: 2rem 1rem;
} */

/* .actions button:hover,
.actions button:active {
  background-color: #ffe6dc;
} */

.actions .submit {
  border: 1px solid #5a1a01;
  background-color: #5a1a01;
  color: white;
}

.actions .submit:hover,
.actions .submit:active {
  background-color: #7a2706;
}

.invalid label {
  color: #ca3e51;
}

.invalid input {
  border-color: #aa0b20;
  background-color: #ffeff1;
}

form > h1 {
  font-size: 2rem;
  font-weight: bold;
}

select {
  font: inherit;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 90%;
  max-width: 100%;
  font-size: large;
}
